@font-face {
    font-family: 'Newsreader';
    src: local('Newsreader'), url('/fonts/Newsreader-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}
